.F1F1F1bg{background-color:#F1F1F1;}
.F2F2F2bg{background-color:#F2F2F2; }
.bg60B346{background-color:#60B346 !important;color:#FFFFFF !important;border:1px solid #FFFFFF !important; }
.bg60B346s1{background-color:#60B346 !important;color:#FFFFFF !important;border:1px solid #FFFFFF !important; }
.bg60B346s0{background-color:#60B346 ;color:#FFFFFF;border:1px solid #FFFFFF; }
.border8{border:7px solid #F2F2F2 !important;}
.border80{border:7px solid white;}
.borderL1{border:1px solid #60B346;}
.borderB1{border:1px solid #FFFFFF;}
.place{color:#999899 !important;}
.placea{color:#676868 !important;}



.blue{border:1px solid blue;}
.c60B346{color:#60B346 !important;}
.c60B346s0{color:#60B346;}
.shao{color:#60B346 !important;}
.c60B346s{color:#60B346 !important;}
.c999899{color:#999899;}
.cF2F2F2{color:#F2F2F2;}
.c60B346{color:#60B346;}
.c989698{color:#989698;}
.c4A494B{color:#4A494B;}
.cBF4040{color:#BF4040;}
.c676868{color:#676868;}
.c5EA946{color:#5EA946;}
.cFFFFFF{color:#FFFFFF;}
.type{display: inline-block;width: 13.56px;height: 13.354px;
  line-height: 13.354px;background: #35AD4A;color:#FFFFFF;text-align: center;
position: relative;top:-2px;}
