/*上传图片插件的样式*/
/*第五个第十个不能有右外边距*/
 /*.img-section>div>section:nth-child(1).{margin-left:0 !important;}*/
  /*.img-section>div>section:nth-child(10){margin-right:0 !important;}*/


.img-box{
	    overflow: hidden;
}
.img-box .up-p{
	margin-bottom: 20px;
	font-size: 16px;
	color: #555;
}
.z_photo{
	// padding: 18px;
	// border:2px dashed #E7E6E6;
	/*padding: 18px;*/
}
.z_photo .z_file{
	position: relative;
}
.z_file  .file{
	width: 1.85rem;
	height: 1.85rem;
	opacity: 0;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.z_photo .up-section{
	position: relative;
	width: 1.85rem;
	height: 1.85rem;
	overflow: hidden;
	/*margin-right: 0.15rem;*/
	margin-bottom: 0.15rem;
}
/*.z_photo .up-section:nth-child(3n){
	margin-right:0;
}*/
.up-section .close-upimg{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 30px;
	/*display: none;*/
	z-index: 8;
}

.up-section .up-span{
	display: block;
	width: 185px;
	height: 185px;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: rgba(0,0,0,.5);
}
/*.up-section:hover{
	border: 1px solid #36c748;
}*/
.up-section{
	/*border: 1px solid white;*/
	position: relative;
}
/*.up-section:hover .close-upimg{
	display: block;
}
.up-section:hover .up-span{
	visibility: visible;
}*/
.z_photo .up-img{
	display: block;
	width: 182px;
   height:273px;
/*	width: 1.85rem;
	height: 1.85rem;*/
	position: absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
}
.loading{
    border: 1px solid #D1D1D1;
	background:url(../tu-mpz/loading.gif) no-repeat center;
}
.up-opcity{
	opacity: 0;
}
.img-name-p{
	display: none;
}
.upimg-div .up-section {
	overflow: hidden;
   width: 182px;
   height:273px;
   margin-left:18px;
   margin-bottom:15px;
   float: left;
   display: inline-block;
}
.img-box .upimg-div .z_file {
     width: 182px;
     float:right;
     margin-left:18.5px;
     margin-bottom:15px;
}
.z_file .add-img {
      
      width: 182px;
}
.z_file{
	 display: inline-block;
	 float: left;
}
/*遮罩层样式*/
.mask{
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.701961);
	
}
.mask .mask-content{
	 width: 400px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 -webkit-transform:translate(-50%,-50%);
	    -moz-transform:translate(-50%,-50%);
	         transform:translate(-50%,-50%);
	-moz-border-radius: 5px;
	     border-radius: 5px;
	 background: white;
	 height: 251px;
	 text-align: center;
}
.mask .mask-content .del-p{

	height: 172px;
	line-height: 172px;
	font-size: 26px;
	border-bottom: 1px solid #D1D1D1;
}
.mask-content .check-p{
/*	height: 66px;
	line-height: 66px;*/
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.mask-content .check-p span{
	width: 49%;
	display:inline-block;
	text-align: center;
	font-size:18px;
}
.mask-content .check-p span:hover{
	opacity: 0.8;
}
.check-p .del-com{
	border-right: 1px solid #D1D1D1;
}

/*.up_img{border:3px solid red;}*/
/*.up-section{border:3px solid black;position: relative;}*/

.weui-photo-browser-modal{z-index: 1000;}

/*.back{top:0.15rem;left:0.15rem;}*/



